@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700');/*--- Body & Nav Font --*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');/*--- Heading Font --*/

* {
	margin: 0;
	border: 0;
	padding: 0;
}

@font-face {
	font-family: franchise-bold;
	src: url("fonts/Franchise-Bold.ttf");
}

body {
  	background-color: #fff;
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 40px;
	color: #000;
	text-transform: uppercase;
	
	padding: 3% 0 3% 0;
}

h2, h3, h4 {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #000;
	text-transform: uppercase;
}

#heading-banner {
	background-color: #CECECE;
	width: 100%;
	position: right;
    margin-bottom: 5%;
}

#main {
	font-family: franchise-bold;
	font-weight: 300;
	font-size: 65px;
	color: #fff !important;
    text-align: center;
}


p {
	padding: 2%;
	color: #000;
	text-align: justify;
}	

a {
	color: #e9e9e9;
}

img {
	text-align: center;
	max-width: 100%;
	height: auto;
}

#wrapper {
	margin: 0 auto;
	max-width: 1120px;
	background: #fff;
	overflow: auto;
}

/*--- START HEADER/LOGO/CONTACT --*/
header {
	width: 97%;
}

#logo {
    width: 100%;
	float: left;
	margin: 3% 0 0  5%;
}

#callout {
	float: right;
	margin: 3% 3% 2% 0;
	height: auto;
	overflow: hidden;
}

#callout h2 {
	text-align: right;
	color: #000;
}

#callout h2 a {
	color: #000;
	text-decoration: none;
}

#callout p {
	text-align: center;
	padding: 0%;
	color: #000;
}
/*--- END HEADER/LOGO/CONTACT --*/

#banner-wrapper {
	max-width: 1020px;
	margin: 0 auto;
	padding: 0 0 3% 0;
}

/*--- Start Navigation Style --*/
nav {
    box-shadow: 3px 4px 24px 0 rgba(0, 0, 0, 0.07);
	margin-top: 2px;
	background: #000;
    opacity: 0.9;
	font-family: 'Roboto Mono', monospace, sans-serif;
}

.nav ul {
	width: 100%;
	overflow:hidden;
	list-style:none;
}

.nav-button:hover {
	cursor:pointer;
}

.navigation {
	clear: both;
	width: 100%;
	position: relative;
}

.nav a {
	color:#fff;
	text-transform: uppercase;
	text-decoration:none;
}

body .nav .nav-menu li a {
	display:inline-block;
	padding:15px 20px;
	color:#fff;
	font-size: 25px;
	font-weight: 700;
}

.nav.gala .nav-menu li.active a {
	color: #fff;
	text-decoration: underline;
}

.nav.gala .nav-menu li a:hover {
	color: #a9a9a9;
	text-decoration: underline;
}

.nav.gala .nav-toggled {
	min-height:36px;
	border-radius:6px;
}
.nav.gala .nav-toggled-controls {
	display:block;
	height:36px;
	color: #fff;
	text-align:left;
	position:relative;
}

.nav.gala .nav-toggled-title { 
	position:relative;
	top:9px;
	left:15px;
	font-size:16px;
}

.nav.gala .nav-button {
	display:block;
	position:absolute;
	right:15px;
	top:8px;
}

.nav.gala .nav-button span {
	display:block;
	margin-top:4px;
	height:2px;
	background: #000;
	width:24px;
}

.nav-toggled-controls{
	border-bottom: 0px solid #5E412F;
}

.nav.gala .nav-toggled ul li a {
	display:block;
	width:100%;
	background-color:#000;
	text-align:left;
	padding:10px 0px 10px 15px;
	border-bottom:1px solid #444444;
	text-align: center;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

.nav.gala .nav-toggled ul li ul a {
	font-size: 15px;
	text-transform: none;
}

.nav.gala .nav-toggled ul li a:active {
	background-color:#000;
	color: #fff;
	border-top:1px solid #a9a9a9;
}

.nav.gala .nav-toggled ul li a:hover {
	background: #000;
	text-decoration: none;
	color: #fff;
	border-bottom: 1px solid #a9a9a9;
}

.nav.gala .nav-toggled ul li {
	position: relative;

}

.nav .nav-menu {
	text-align: center;
	overflow: visible;
	min-height: 56px;
}

.nav .nav-menu li {
	display:inline-block;
	padding:0px;
	margin:0px !important;
	position: relative;
}

.nav-button:hover {
	cursor:pointer;
}

.nav .nav-toggled ul {
	display:none;
	margin:0px ;
	padding:0px ;
	position: relative;
}

.nav .nav-menu > li > ul {
	position: absolute;
	z-index: 10000000000;
	top: 50px;
	text-align: left;
	background: #a9a9a9;
	width: 100%;
	display: none;	  
}

.nav.gala .nav-menu > li > ul a {
	padding: 11px 15px;
	font-size: 18px;
	font-weight: normal;
	text-transform: none;
}

.nav .nav-menu > li > ul  li {
	position: relative;
	width: 100%;
	text-align: center;
}

.nav .nav-menu > li > ul > li  ul {
	position: absolute;
	right: -100%;
	top: 0;
	background: #a9a9a9;	
}

.nav .nav-menu > li > ul > li  ul a {
	white-space: nowrap;
}

.nav ul {
	overflow: visible;
}

body .nav .nav-menu li a {
	padding: 15px 30px;
}

.clicker {
	width: 45px;
	height: 45px;
	position: absolute;
	right: 0;
	z-index: 30000;
}

/*---start menu fix--*/
.nav .nav-menu > li{
	cursor: pointer;
	padding: 15px 30px;
}

.nav .nav-menu > li > a{
	padding: 0 !important;
}

.nav .nav-menu > li > ul{ 
	display: block;
	opacity: 0;
	visibility: hidden;
	top: 60px;
	left: 0;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}

.nav .nav-menu > li:hover > ul{ 
	visibility: visible;
	opacity: 1;
	top: 50px;
}

.nav .nav-menu > li > ul > li{
	display: block;
	cursor: pointer;
}

.nav .nav-menu > li > ul > li > a,
.nav .nav-menu > li > ul > li > ul > li > a{
	display: block;
	font-size: 18px;
    font-weight: normal;
    /*padding: 11px 15px;*/
    text-transform: none;
    cursor: pointer;
    display: block;
    padding: 0 !important;
    
}

.nav .nav-menu > li > ul > li,
.nav .nav-menu > li > ul > li > ul > li{
	padding: 11px 15px !important;
	background: #000 none repeat scroll 0 0; /*--- CHANGE --*/
	text-align: center;
}

.nav .nav-menu > li > ul > li > ul{
	display: block;
	opacity: 0;
	visibility: hidden;
	right: -103%;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}

.nav .nav-menu > li > ul > li:hover > ul,
.nav .nav-menu > li > ul > li:focus > ul{
	visibility: visible;
	opacity: 1;
	right: -100%;
}

body .nav .nav-menu li a{
	cursor: pointer;
	display: block;
}

body .nav .nav-menu li.active a {
	text-decoration: underline;
}

body .nav .nav-menu li a:hover,
body .nav .nav-menu li a:focus{
	text-decoration: underline;
}

.toggle-menu {
    color: #fff; /*--- CHANGE --*/
    font-size: 21px;
    position: absolute;
    right: 10px;
    top: 5px;
    display: none;
    cursor: pointer;
}

.nav .nav-menu > li .sub-toggle{
	display: none;
}

/*---end menu fix--*/
/*--- End Navigation Style --*/
/*--- Start Image Slider Style --*/
.slider {
	max-width: 1020px;
	box-shadow: 1% 2% 5% 0 rgba(0, 0, 0, 0.07);
}

.slider1 img{
	width: 100%;
 	margin: 0 auto;
}

.slider  .bx-wrapper .bx-controls-direction a {
	outline: 0 none;
	position: absolute;
	text-indent: -9999px;
	top: 40%;
	height: 71px;
	width: 40px;
	z-index: -1;
	transition: all 0.7s;
}

.slider .bx-wrapper:hover .bx-controls-direction a {
	z-index: 5;
}

.slider .bx-wrapper .bx-prev {
	background:#c4c4c4 url("img/left-arrow.png") no-repeat 8px 13px;
	left: 0px;
	opacity: 0.4;
}

.slider  .bx-wrapper .bx-prev:hover {
	background: #c4c4c4 url("img/left-arrow.png") no-repeat 8px 13px;
	opacity: 0.8;
}	

.slider .bx-wrapper .bx-next {
	background: #c4c4c4 url("img/right-arrow.png") no-repeat 10px 12px;
	right: 0px;
	opacity: 0.4;
}

.slider .bx-wrapper .bx-next:hover {
	background: #c4c4c4 url("img/right-arrow.png") no-repeat 10px 12px;
	opacity: 0.8;
}

/*--- End Image Slider Style --*/
/*--- Start Page Layout Style --*/
.one-fourth {
	width: 25%;
	float: left;
	padding: block;
	text-align: center;
}

.one-third {
	width: 28%;
	float: left;
	margin: 2% 0 2% 4%;
	text-align: center;
}

h3.phone a {
	color: #5E412F;
	text-decoration: none;
}

.two-third {
	width: 59%;
	float: left;
	margin: 2% 0 3% 4%;
	text-align: center;
}

.clearfix {
	clear: both;
}

.left-col {
	width: 60%;
	float: left;
	margin: 1% 0 4% 4%;
}

.left-col ul li {
	list-style: none;
	padding-bottom: 1%;
}

.sidebar {
	width: 26%;
	float: left;
	margin: 4% 4%;
}

.sidebar img {
	opacity: 0.7;
}

.one-third img {
	padding: 2% 0 6% 0;
}

.two-third img {
	padding: 1% 0 3% 0;
}

/*--- START TESTIMONIAL QUOTE --*/
#quote-box {
	background: url(img/quote-box-black.png) no-repeat;
	height: 280px;
}

#quote-box h4 {
	max-width: 210px;
	font-size: 19px;
	color: #fff;
	padding: 8%;
}
/*--- END TESTIMONIAL QUOTE --*/

.profile {
	width: 90%;
	margin: 0 auto;
	border-top: 1px solid #000;
}

.profile-image-left {
	float: left;
	width: 15%;
	padding: 3%;
}

.profile-image-right {
	float: right;
	width: 15%;
	padding: 3%;
}

.profile-text-left {
	width: 70%;
	float: left;
	padding: 3%;
	font-size: 20px;
}

.profile-text-right {
	width: 70%;
	float: right;
	padding: 3%;
	font-size: 20px;
}

/*--- START PAGE CALLOUT WITH BUTTON --*/
.page-callout {
	width: 95%;
	min-height: 70px;
	margin: 1% auto;
	border: 1px solid #000;
}

.callout-text {
	float: left;
	width: 75%;
	font-size: 22px;
	font-weight: bold;
}

.button-holder {
	float: right;
	width: 19%;
	padding: 1%;
	margin-bottom: 4%;
}

.btn {
	float: left;
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	color: #FEFBEF;
	font-size: 22px;
	background: #000;
	padding: 10px 20px 10px 18px;
	font-weight: bold;
	text-decoration: none;
}

.btn:hover {
	background: #3b3b3b;
	text-decoration: none;
}
/*--- END PAGE CALLOUT WITH BUTTON --*/

.custom-counter {
    margin-left: 2%;
    padding-top: 2%;
    list-style-type: none;
}

.custom-counter li {
    counter-increment: step-counter;
    padding: 4%;
}

.custom-counter li::before {
    content: counter(step-counter);
    margin-right: 2%;
    font-size: 110%;
    background-color: rgb(200,200,200);
    background: #78C0A8;
    color: #fefbef;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 3px;
}

.banner-img {
	margin: 0 auto;
	width: 90%;
    padding-bottom: 8px;
}

.facility {
	margin-left: 15%;
}

.facility li {
	padding: 2%;
	color: #F07818;
}
/*--- End Page Layout style --*/

/*--- Start Footer Style --*/
footer {
	background: #000;
	opacity: 0.9;
	width: 100%;
	padding: 1% 0;
	overflow: auto;
	color: #fff;
}

footer p {
    color: #fff;
}

footer h3 {
    color: #fff;
	text-decoration: underline;
}

.footercontact {
	text-align: center;
}

.phone a {
	color: #fff;
	text-decoration: underline;
}

.google-maps {
	position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
/*--- End Footer Style --*/

/*--- START SCROLL BUTTON STYLE --*/
.cd-top {
  display: inline-block;
  height: 35px;
  width: 35px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #bfbfbf url(img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.no-touch .cd-top:hover {
  background-color: #e3e1e1;
  opacity: 1;
}
/*--- END SCROLL BUTTON STYLE --*/

/*--------------------MEDIA!!!---------------*/
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

@media screen and (max-width: 1025px) {
	.page-callout {
		width: 95%;
		border: none;
		margin: 0 auto;
	}
    
	.callout-text {
		width: 95%;
		text-align: center;
	}
    
	.button-holder {
		margin: 0 auto;
		width: 88%;
	}
    
	.btn {
		text-align: center;
		width: 83%;
	}
}

/*---start menu fix--*/
@media screen and (min-width: 770px) {
	nav.navigation{
		display: block !important;
	}
}
/*---end menu fix--*/

@media screen and (max-width: 769px) {
    #wrapper {
        margin-top: -1%;
    }

    #callout {
        width: 100%;
        margin: 3% 0 2% 0;
    }

    #callout p {
        display: none;
    }
    
    #logo img {
        width: 100%;
    }

    .slider  .bx-wrapper .bx-controls {
        display: none;
    }

    .one-third {
        float: left;
        width: 100%;
        margin: 4% 0;
    }

    .one-fourth {
        float: middle;
        width: 60%;
        margin: 5% 0;
        padding-left: 20%;
    }

    h1 {
        font-size: 125%;
        letter-spacing: 2px;
    }
    
    #main {
        font-size: 40px;
    }

    .left-col {
        width: 100%;
        margin: 0 0 3% 0;
    }

    .sidebar {
        display: none;
    }

    img {
        width: 50%;
    }

    img logoSize {
        width: 100%;
    }

    .sidebar img {
        opacity: 0.9;
    }

    .social i {
        font-size: 175%;
    }

    #quote-box {
        display: none;
    }

    .profile-image-left{
        float: left;
        width: 40%;
        padding: 2%;
    }

    .profile-text-left {
        width: 65%;
        float: left;
        padding: 0;
        font-size: 20px;
    }

    .profile-image-right{
        float: left;
        width: 28%;
        padding: 2%;
    }

    .profile-text-right {
        width: 65%;
        float: right;
        padding: 0;
        font-size: 20px;
    }

    .two-third {
        width: 100%;
        margin: 0 auto;
    }

    #contact-area {
        width: 90%;
        margin: 2%;
    }

    .banner-img img{
        margin: 0 auto;
        width: 100%;
    }

    .subbutton {
        width: 35%;
    }

    .cd-top {
        width: 40px;
        height: 40px;
        right: 20px;
        bottom: 20px;
    }
    
    /*---start mobile menu fix--*/
    .menu-toggle-wrap{
        background: #000; /*--- CHANGE --*/
        position: relative;
        height: 36px;
    }
    
    .toggle-menu {
        display: block;
    }
    
    nav.navigation{
        display: none; margin-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    .nav .nav-menu li{
        display: block;
    }
    
    body .nav .nav-menu li a{
        background-color: #000; /*--- CHANGE --*/
        border-bottom: 1px solid #a9a9a9; /*--- CHANGE --*/
        box-sizing: border-box;
        display: block;
        font-size: 16px !important;
        padding: 10px 0 10px 15px !important;
        text-align: center;
        width: 100%;
        font-weight: normal;
    }
    
    .nav .nav-menu > li > ul,
    .nav .nav-menu > li > ul > li > ul{ 
        opacity: 1;
        visibility: visible;
        position: static;
        display: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }
    
    .has-children::after{
        display: none;
    }
    
    .nav .nav-menu > li{
        position: relative;
        padding: 0 !important; 
    }
    
    .nav .nav-menu > li .sub-toggle {
        display: block;
        color: #5E412F; /*--- CHANGE --*/
        cursor: pointer;
        font-size: 10px;
        height: 41px;
        line-height: 41px;
        position: absolute;
        right: 0;
        text-align: center;
        width: 41px;
    }
    
    .nav .nav-menu > li > ul > li, .nav .nav-menu > li > ul > li > ul > li{
        padding: 0 !important;
    }
    
    .nav .nav-menu > li > ul > li > a, .nav .nav-menu > li > ul > li > ul > li > a{
        padding: 10px 0 10px 15px !important;
    }
    /*---end mobile menu fix--*/
}

@media screen and (max-width: 478px) {
    .callout-text {
        font-size: 115%;
    }
    
    .btn {
        font-size: 125%;
    }
    
}